.outer-background {
    background-image: url('https://media.wired.com/photos/6463dbca88479249e0cc290e/master/w_2560%2Cc_limit/Dyzon%2520Zone%2520Review%2520Featured%2520Gear.jpg');
    background-size: cover;
    background-position: center;
    height: 700px; 
  }
  
  .profile-container {
    margin-bottom: -200px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #4287f5; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .profile-info h2 {
    margin-bottom: 5px;
    color: #333; 
  }
  
  .profile-info p {
    margin-bottom: 5px;
    color: #666; 
  }
  
  .profile-bio {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .profile-bio h3 {
    margin-bottom: 10px;
    color: white;
  }


  .uploadBtn{
    width: 200px;
  }
  .uploadBtn :hover{
background-color: rgb(91, 89, 103);
color:white
  }

  .showImageUpdateDiv{
    margin-left: 100px;
  }